@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css */
.label-gray {
  @apply block text-gray-700 mb-1 font-bold text-sm;
}

.input-orange {
  @apply w-full border border-orange-400 focus:ring-orange-500 rounded-md p-1 text-gray-600;
}
