@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial;
}

/* styles/globals.css */
.label-gray {
  @apply block text-gray-700 mb-1 text-sm;
}

.input-orange {
  @apply w-full border border-[#5C708E] focus:ring-[#3c5d8f] rounded-md p-1 text-gray-600 text-sm;
}

.select-orange {
  @apply w-full border border-[#5C708E] focus:ring-[#3c5d8f] rounded-md text-gray-600 text-sm bg-white;
  padding: 6px 5px 6px 5px;
}

.btn-orange {
  @apply bg-[#5C708E] hover:bg-[#3c5d8f] text-white text-sm py-2 px-3 border border-[#3c5d8f] rounded;
}

.btn-orange-sm {
  @apply bg-[#5C708E] hover:bg-[#3c5d8f] text-white font-bold text-xs px-3 border border-[#3c5d8f] rounded;
  padding-top: 7px;
  padding-bottom: 7px;
}

.btn-orange-outline-sm {
  @apply font-bold text-xs px-3 border border-[#3c5d8f] rounded;
  padding-top: 7px;
  padding-bottom: 7px;
}

.btn-orange-outline-sm-i {
  background-color: #e32424 !important;
  color: white;
  font-size: .75rem;
  border: 1px solid #e32424;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bg-primary {
  background-color: #5c708e;
  color: white;
}

.btn-primary {
  @apply text-white font-bold text-sm py-2 px-3 border rounded;
  background-color: #5c708e;
}

.bg-secondary {
  background-color: #f7e9e8;
}